<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheet/style.css">
  <title>Update Files</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
  <div class="main min-h-screen w-full bg-zinc-900 p-5">
    <div class="form">
      <form action="/create" method="post">
        <input class="block w-1/2 rounded-md outline-none px-5 py-2 bg-zinc-800" type="text"
          placeholder="Enter Task Here" name="title" required>
        <textarea class="resize-none block w-full rounded-md outline-none px-5 mt-5 py-2 bg-zinc-800"
          placeholder="Enter Description here..." name="details" required></textarea>
        <input class="rounded-md px-4 py-2 bg-blue-500 mt-5" type="submit" value="submit">
      </form>
 </div>

      <div class="tasks flex gap-3 flex-wrap p-10">
        <% if (files.length > 0 ) { %>
          <% files.forEach(function(val) { %>
            <div class="task min-w-60 px-3 py-4 bg-zinc-800 rounded-md tracking-tighter">
              <h3 class="text-2xl text-white mb-2">
                <%= val %>
              </h3>
              <div class="flex items-center justify-between">
                <a class="text-blue-500" href="/file/<%= val%>">Read More...</a>
                <a class="text-zinc-300" href="/edit/<%= val%>">Edit Filename</a>
              </div>
            </div>
            <% }) %>
            <% } else { %>
              <p class="text-zinc-600">No tasks found.</p>
              <% } %>
            </div>
  </div>
  <!-- <script src="/javascript/script.js"></script> -->
</body>

</html>