<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheet/style.css">
  <title>Document</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
  <div class="main min-h-screen w-full bg-zinc-800 p-10">
    <a class="text-blue-500 tracking-tighter border border-1-white px-4 py-2 rounded-full" href="/">Go to Home</a>
    <h2 class="text-4xl my-5">
        <%= filename%>
    </h2>
    <p class="text-zinc-300 text-xl">   
        <%= filedata%>
    </p>
 </div>

     
 </body>

</html>